%section
  .text-center.clearfix
    %h4.text-danger About
    %p This is a collection of SOPs used by the GitLab Support Engineering team.
%section
  %h4.clearfix Categories
  %ul.nav
  - pages.each do |category, workflow_pages|
    %li
      %a{:href => "##{category}" }
        %span.badge.pull-right> #{workflow_pages.count}
        #{category}
